global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'terminal_log' # Change this to 'discord_webhook' later

receivers:
- name: 'terminal_log'