groups:
  - name: microservices_alerts
    rules:
      # 1. Alert if any service is down
      - alert: InstanceDown
        expr: up == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "Instance {{ $labels.instance }} down"
          description: "{{ $labels.job }} has been down for more than 1 minute."

      # 2. Alert if Analytical Service memory is leaking
      - alert: HighMemoryUsage
        expr: nodejs_heap_size_total_bytes{job="analytical-service"} > 500000000
        for: 2m
        labels:
          severity: warning
        annotations:
          summary: "High Memory Usage: Analytical Service"
          description: "Memory usage is above 500MB for 2 minutes."