global:
  scrape_interval: 15s 
  evaluation_interval: 15s 

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'auth-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['auth-service:8001']

  - job_name: 'ingest-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['ingest-service:5000']

  - job_name: 'processing-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['processing-service:6000']

  - job_name: 'analytical-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['analytical-service:4000']

  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka-exporter:9308']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']