global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  receiver: 'discord-notifications' # The default receiver

receivers:
- name: 'discord-notifications'
  webhook_configs:
  - url: 'http://alertmanager-discord:9094'
    send_resolved: true

- name: 'log-only'
